body {
    background: tan;
}

h1 {
    text-align: center;
    font-size: 50px;
}

nav {
    text-align: center;
    font-size: 40px;
}

nav a {
    display: inline;
    padding-right: 30px;
}

.section_title {
    text-align: center;
    font-size: 40px;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.container {
    text-align: center;
}

ul.amplist {
    display: inline-block;
    text-align: left;
}

ul.pedalslist {
    display: inline-block;
    text-align: left;
}